<!DOCTYPE html>
<html>
    <head>
       	<meta charset="UTF-8"/>
        <title>King's blog!</title>
        <link rel="stylesheet" type="text/css" href="bstyle.css">
    </head>
    <body>
        <h1>King's space!</h1>
        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <h1><a href="">{{post.title}}</a></h1>
                <p>{{post.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
        <h2><a href="">First post</a></h2>
        <p>KUASHE ASOU OOPAKE ASOTIKA OFDFKODO OUHYG VCUEB EWIURHWEV QPWOE.</p>

        <h2><a href="">Second post</a></h2>
        <p>QKOR TOIJERJOI RTUERHU HBVQHW POKFDS YPOB BWEHQ EB\N JWBEWK!</p>
    </body>
</html>